@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 400;
  src: local('Ek Mukta'), local('EkMukta-Regular'), url(http://fonts.gstatic.com/s/ekmukta/v7/bd9w3t1zRrt_-4XQNqfNJPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/ekmukta/v7/tf-BtnFgVmxry6UZcI_2LvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}